:root {
    /*gruvbox*/
    --gruvbox-background: #282828;
    --gruvbox-background-light: #fbf1c7;
    --gruvbox-red : #cc241d;
    --gruvbox-green : #98971a;
    --gruvbox-yellow : #d79921;
    --gruvbox-blue: #458588;
    --gruvbox-purple: #b16286;
    --gruvbox-aqua: #689d6a;
    --gruvbox-gray: #a89984;
    --gruvbox-orange: #fe8019;
    --gruvbox-light-red : #fb4934;
    --gruvbox-light-green : #b8bb26;
    --gruvbox-light-yellow : #fabd2f;
    --gruvbox-light-blue: #83a598;
    --gruvbox-light-purple: #d3869b;
    --gruvbox-light-aqua: #8ec07c;
    --gruvbox-fg: #ebdbb2;
    --gruvbox-grey-comment: #928374;
    --gruvbox-grey-dark: #504945;
    --gruvbox-grey-darker: #3C3836;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: var(--gruvbox-background); 
}



/*terminal*/

#container { position: relative;}
.text-area {
    background-color: var(--gruvbox-background); 
    color: var(--gruvbox-fg);
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: 'Fira Code', monospace;
    outline: none;
    border: none;
    flex: 75;
    resize: none;
    min-height: 100vh;
    overflow: hidden;
    padding: 10px;
    white-space: pre;
}
.number-column {
    color: var(--gruvbox-grey-comment);
    font-size: 1.4em;
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;
}
.number-left {
    line-height: 1.2em;
    border: 1px solid transparent;
    text-align: right;
    background-color: var(--gruvbox-background);
}
.last-number-left {
    color: var(--gruvbox-yellow);
}

/*terminal-input*/
.terminal-input {
    position: absolute;
    overflow: hidden;
    outline: none;
    resize: none;
    border: none;
    background-color: var(--gruvbox-background);
    font-size: 1.5em;
    font-family: 'Fira Code', monospace;
    color: var(--gruvbox-green);
    bottom: 0;
    outline: none;
    width: 100vw;
    padding: 10px;
    height: 2em;
}

/*nerd-tree*/
#nerd-tree-container {
    height: 100vh;
    background-color: var(--gruvbox-background);
    min-width: 15em;
}
.nerd-tree {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    position: fixed;
}
.file-on-tree {
    font-size: 1.2em;
    font-family: 'Fira Code', monospace;
    color: var(--gruvbox-green);
    justify-content: center;
    margin-left: 2.5em;
    margin-right: 0.5em;
    text-align: left;
}
.file-on-focus {
    color: var(--gruvbox-light-green);
    font-weight: bold;
}
.current-file {
    text-decoration: underline;
}

.folders {
    font-size: 1.2em;
    font-family: 'Fira Code', monospace;
    color: var(--gruvbox-grey-comment);
    margin-left: 1em;
    text-align: left;
}

/*display-flex*/
.display-flex {
    display: flex;
    flex-direction: row;
}

/*special-characters*/
.special-characters {
    writing-mode:tb;
    text-orientation: upright;
    position: absolute;
    z-index: -1;
    color: var(--gruvbox-grey-comment);
    padding: 8px 3px;
    font-size: 1.4em;
    font-family: 'Fira Code', monospace;
}

/*air-line*/
.air-line {
    width: 100vw;
    position: fixed;
    bottom: 3em;
    display: flex;
    flex-direction: row;
    height: 1.75em;
    outline: 5px solid var(--gruvbox-background);
}

.air-line div {
    font-family: 'Fira Code', monospace;
}

.mode-air-line {
    background-color: var(--gruvbox-grey-comment);
    color: var(--gruvbox-background);
    font-weight: bold;
    padding: 0 0.5em;
    font-size: 1.35em;
    display: flex;
    align-items: center;
}

.branch-air-line {
    background-color: var(--gruvbox-grey-dark);
    color: var(--gruvbox-gray);
    font-size: 1.15em;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
}

.folder-air-line {
    background-color: var(--gruvbox-grey-darker);
    color: var( --gruvbox-light-blue);
    font-size: 1.20em;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    flex: 1;
}

.language-air-line {
    background-color: var(--gruvbox-grey-dark);
    color: var(--gruvbox-gray);
    font-size: 1.15em;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
}

.word-counter-air-line {
    background-color: var(--gruvbox-orange);
    color: var(--gruvbox-background);
    font-size: 1.15em;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/*input-file*/ 
.input-file {
    position: fixed;
    bottom: 15%;
    border:none;
    background-color:transparent;
    box-shadow: none;
    font-size: 1.2em;
    font-family: 'Fira Code', monospace;
    color: var(--gruvbox-green);
    display: none;
}


/*hide&else classes*/
.none { display:none; }
.hide { visibility: hidden; }
.greenCaret { caret-color: var(--gruvbox-green); }
::selection {
  color: var(--gruvbox-background);
  background: var(--gruvbox-light-green);
}
.left-border-text-area {
    border-left: var(--gruvbox-grey-dark) 5px solid;
}
