:root {
    /*gruvbox*/
    --gruvbox-background: #282828;
    --gruvbox-background-light: #fbf1c7;
    --gruvbox-red : #cc241d;
    --gruvbox-green : #98971a;
    --gruvbox-yellow : #d79921;
    --gruvbox-blue: #458588;
    --gruvbox-purple: #b16286;
    --gruvbox-aqua: #689d6a;
    --gruvbox-gray: #a89984;
    --gruvbox-light-red : #fb4934;
    --gruvbox-light-green : #b8bb26;
    --gruvbox-light-yellow : #fabd2f;
    --gruvbox-light-blue: #83a598;
    --gruvbox-light-purple: #d3869b;
    --gruvbox-light-aqua: #8ec07c;
    --gruvbox-fg: #ebdbb2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gruvbox-background); 
}

.hide { visibility: hidden; }
.none { display: none; }
.greenCaret { caret-color: var(--gruvbox-green); }

::selection {
  color: var(--gruvbox-background);
  background: var(--gruvbox-light-green);
}


/*terminal*/
.text-area {
    background-color: var(--gruvbox-background); 
    color: var(--gruvbox-fg);
    font-size: 1.5em;
    font-family: 'Fira Code', monospace;
    outline: none;
    flex: 75;
    padding: 10px;
    resize: none;
    min-height: 100vh;
    overflow: hidden;
    line-height: 1.2em;
    border-bottom: 2px solid grey;
}
.number-column {
    background-color: var(--gruvbox-light-yellow);
    color: var(--gruvbox-background);
    font-size: 1.3em;
    font-family: 'Fira Code', monospace;
    flex: 2.5;
}

/*terminal-input*/
.terminal-input {
    position: absolute;
    border-top: 1px solid var(--gruvbox-gray);
    background-color: var(--gruvbox-background);
    font-size: 1.5em;
    font-family: 'Fira Code', monospace;
    color: var(--gruvbox-green);
    bottom: 0;
    outline: none;
    width: 100vw;
    padding: 10px;
    height: 2em;
}

/*display-flex*/
.display-flex {
    display: flex;
    flex-direction: row;
}



